* { font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
@page { 
  margin-top: 15px; 
  margin-bottom: 15px; 
}
/* body { margin: 0px; } */
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }
.text-align-right { text-align: right; }
.bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.page-break { page-break-after: always; }
.inline-block { display: inline-block; }
.width-100 { width: 100%; }
.width-50 { width: 50%; }

/* .flex-align-center { display: flex; align-items: center; } */

.heading { margin-bottom: 8px; }
.heading::after { content: ''; display: block; clear: both; }
.heading .logo { float: left }
.heading .logo img { width: 105px; }
.heading .title-1 { font-size: 22px; }
.heading .title-2 { font-size: 24px; }
p.indent { text-indent: 30px; }

.no-surat { margin-top: 8px; }
.no-surat .no-1, .pokja-pilihan { font-size: 14px; }
.pokja-pilihan { margin-bottom: 8px; }
table.border { width: 100%; border-collapse: collapse; }
table.border th, table.border td{ border: 1px solid; vertical-align: top; padding: 4px 8px; }
.paket { margin-left: 30px; }
.lower-alpha { list-style-type: lower-alpha; padding-left: 18px; }

.ttd-wrapper { position: relative; margin-left: 50%; }
.ttd-space { height: 60px; }
.tebusan { font-size: 10px; }
