.pointer { cursor: pointer; }
#flash {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9910;
}
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.uppercase { text-transform: uppercase; }
.no-radius { border-radius:0 }
.space-left { margin-left: 15px; }
.space-right { margin-right: 15px; }
.flex { display: flex; }
.align-item-center { align-items: center; }

.main-header .logo {
  background-size: 52%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #fff!important; */
}
.main-header .logo:hover {
  background-color: #fff;
}
.ractangle, .navbar-nav>.user-menu .user-image{
  border-radius: 0;
}
.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 34px;
}

table thead.silver { background-color: #f3f4f6; }


/* LABEL SWITCH */
  div label.switch{
    margin-top: 8px;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }


@media(max-width: 767px){
  .fixed .content-wrapper, .fixed .right-side, 
  .main-sidebar {
    padding-top: 50px;
  }
}