<template>
  <div v-if="ready">
    <section class="content-header">
      <h1>Dashboard</h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home
          </a>
        </li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <div class="row" v-if="statsProgres.length > 0">
        <div class="col-md-3 col-sm-6 col-xs-12" v-for="(v,i) in statsProgres" :key="i">
          <info-box
            :data-icon="v.icon"
            :data-text="v.text"
            :data-number="v.number"
            :data-progress="v.progress"
            :data-percent="v.percent"
            :data-desc="v.desc"
            :data-color="v.color"
          />
        </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
      <!-- ADD HERE -->
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-header data-title="Grafik Lelang Per Tahun"></box-header>
            <box-body>
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Ringkasan Data Paket</strong>
                  </p>

                  <div class="chart">
                    <highchart-bar :data="chartBarSummaryPertahun" id="chart-bar-summary-pertahun"></highchart-bar>
                  </div>
                </div>
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Statistik Paket</strong>
                  </p>
                  <info-box
                    data-icon="fa fa-check"
                    data-fill="true"
                    data-text="Paket"
                    :data-number="statsProgres[0].number"
                    data-progress="true"
                    data-percent="100"
                    data-desc="Total paket tayang"
                    data-color="bg-aqua"
                  ></info-box>

                  <info-box
                    data-icon="fa fa-dollar"
                    data-fill="true"
                    data-text="Pagu"
                    :data-number="this.formatPrice(statsProgres[1].dana)"
                    data-progress="true"
                    data-percent="100"
                    data-desc="Jumlah pagu paket"
                    data-color="bg-green"
                  ></info-box>

                  <info-box
                    data-icon="fa fa-bank"
                    data-fill="true"
                    data-text="Rekanan"
                    :data-number="statsProgres[3].number"
                    data-progress="true"
                    data-percent="100"
                    data-desc="Jumlah rekanan"
                    data-color="bg-purple"
                  ></info-box>
                </div>
              </div>
            </box-body>
            <box-footer>
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <description-block
                    data-color="text-aqua"
                    data-icon="fa fa-caret-right"
                    :data-optional="efisiensi.jumlah"
                    :data-number="'Rp. '+this.formatPrice(efisiensi.pkt_pagu)"
                    data-text="Pagu dan Jumlah"
                    data-border="border-right"
                  ></description-block>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <description-block
                    data-color="text-blue"
                    data-icon="fa fa-caret-right"
                    :data-optional="efisiensi.persen+'%'"
                    :data-number="'Rp. '+this.formatPrice(efisiensi.harga)"
                    data-text="Nilai Kontrak"
                    data-border="border-right"
                  ></description-block>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-red">
                      <i class="fa fa-caret-right"></i>
                      {{efisiensi.persen_efisien}}%
                    </span>
                    <h5 class="description-header">Rp. {{this.formatPrice(efisiensi.selisih)}}</h5>
                    <span class="description-text">Selisih</span>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-green">
                      <i class="fa fa-free-code-camp"></i>
                    </span>
                    <h5 class="description-header">{{efisiensi.persen_efisien}}%</h5>
                    <span class="description-text">Efisiensi</span>
                  </div>
                </div>
              </div>
            </box-footer>
          </box>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-header data-title="Metode Pemilihan Paket"></box-header>
            <box-body>
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Data Paket Per Metode Pemilihan</strong>
                  </p>
                  <highchart-bar :data="chartBarMetode" id="chart-bar-metode" height="355px"></highchart-bar>
                </div>
                <div class="col-md-4">
                  <div class="text-center">
                    <strong>Metode Pemilihan</strong>
                  </div>

                  <div class="metode-container">
                    <progress-group
                      v-for="(v,i) in metode"
                      :key="i"
                      :data-text="v.nama"
                      :data-num="v.count"
                      :data-nums="v.total"
                      :data-color="v.color"
                      :data-percent="v.percent"
                    ></progress-group>
                  </div>
                </div>
              </div>
            </box-body>
            <box-footer></box-footer>
          </box>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-header data-title="Kategori Lelang"></box-header>
            <box-body>
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Data Paket Per Kategori</strong>
                  </p>
                  <highchart-bar :data="chartBarKategori" id="chart-bar-kategori"></highchart-bar>
                </div>
                <div class="col-md-4">
                  <div class="text-center">
                    <strong>Kategori</strong>
                  </div>
                  <progress-group
                    v-for="(v,i) in kategori"
                    :key="i"
                    :data-text="v.nama"
                    :data-num="v.count"
                    :data-nums="v.total"
                    :data-color="v.color"
                    :data-percent="v.percent"
                  ></progress-group>
                </div>
              </div>
            </box-body>
            <box-footer></box-footer>
          </box>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { async } from "q";
export default {
  props: [],
  data() {
    return {
      color: [
        "progress-bar-aqua",
        "progress-bar-red",
        "progress-bar-green",
        "progress-bar-blue",
        "progress-bar-yellow"
      ],
      getStats: {},
      ready: false
    };
  },
  beforeCreate() {
    console.log("before created hook");
  },
  created() {
    console.log("created hook");
    this.$store.dispatch("setLoading", true);
    // this.$store.dispatch("setStats");
    this.get_stats();
    console.log(process.env.VUE_APP_URL);
  },
  beforeMount() {
    console.log("before mount hook");
  },
  mounted() {
    console.log("mounted hook");
    // setTimeout(() => {
    //   this.$store.dispatch("setLoading", false);
    // }, 2000);
  },
  computed: {
    statsProgres() {
      let stats = [];
      if (Object.keys(this.getStats).length > 0) {
        let all = this.getStats.per_progres.all;
        stats.push({
          icon: "fa fa-bell",
          text: "Jumlah Paket",
          number: all.count ? all.count : 0,
          progress: false,
          percent: 0,
          desc: "Jumlah paket tayang",
          color: "bg-aqua"
        });
        stats.push({
          icon: "fa fa-dollar",
          text: "Pagu",
          number: all.pagu
            ? (all.pagu / 1000000000000).toFixed(2) + " T"
            : "0 T",
          progress: true,
          percent: 100,
          desc: "Total seluruh pagu",
          color: "bg-red",
          dana: all.pagu
        });
        stats.push({
          icon: "fa fa-dollar",
          text: "HPS",
          number: all.hps ? (all.hps / 1000000000000).toFixed(2) + " T" : "0 T",
          progress: false,
          percent: 0,
          desc: "",
          color: "bg-green",
          dana: all.hps
        });
        stats.push({
          icon: "fa fa-bank",
          text: "Jumlah Rekanan",
          number: this.getStats.jumlah_rekanan
            ? this.getStats.jumlah_rekanan
            : 0,
          progress: true,
          percent: 100,
          desc: "Mendaftar Lelang",
          color: "bg-yellow"
        });
      }
      return stats;
    },
    efisiensi() {
      if (Object.keys(this.getStats).length > 0) {
        let progres = this.getStats.per_progres.sukses;
        return {
          jumlah: progres.count,
          pkt_pagu: progres.pagu,
          pkt_hps: progres.hps,
          harga: progres.harga,
          selisih: progres.pagu - progres.harga,
          persen: parseFloat((progres.harga / progres.pagu) * 100).toFixed(2),
          persen_efisien: parseFloat(
            100 - (progres.harga / progres.pagu) * 100
          ).toFixed(2)
        };
      }
    },
    chartBarSummaryPertahun() {
      if (Object.keys(this.getStats).length > 0) {
        let obj = this.getStats.per_tahun;
        let arr = Object.values(obj);
        return {
          title: "Grafik Paket",
          subTitle: "Ringkasan Paket Pertahun",
          xAxisLabel: this.array_column(arr, "nama"),
          yAxisRight: this.number_column(arr, "pagu"),
          yAxisLeft: this.array_column(arr, "count")
        };
      }
    },
    kategori() {
      if (Object.keys(this.getStats).length > 0) {
        let obj = this.getStats.per_kategori;
        let arr = Object.values(obj);
        let t = arr.reduce(function(val, el) {
          return val + el.count;
        }, 0);
        let c = this.color;
        arr.map(el => {
          el.total = t;
          el.color = c[Math.floor(Math.random() * c.length)];
          el.percent = (el.count / t) * 100;
          return el;
        });
        return arr;
      }
      return [];
    },
    chartBarKategori() {
      let arr = this.kategori;
      return {
        title: "Grafik Kategori Lelang",
        subTitle: "Perbandingan Per Kategori",
        xAxisLabel: this.array_column(arr, "nama"),
        yAxisRight: this.array_column(arr, "pagu"),
        yAxisLeft: this.array_column(arr, "count")
      };
    },
    metode() {
      if (Object.keys(this.getStats).length > 0) {
        let obj = this.getStats.per_mtd_pemilihan;
        let arr = Object.values(obj);
        let t = arr.reduce(function(val, el) {
          return val + el.count;
        }, 0);
        let c = this.color;
        arr.map(el => {
          el.total = t;
          el.color = c[Math.floor(Math.random() * c.length)];
          el.percent = (el.count / t) * 100;
          return el;
        });
        return arr;
      }
      return [];
    },
    chartBarMetode() {
      let s = this.metode;
      return {
        title: "Grafik Metode Pemilihan",
        subTitle: "Perbandingan Per Metode Pemilihan",
        xAxisLabel: this.array_column(s, "nama"),
        yAxisRight: this.array_column(s, "pagu"),
        yAxisLeft: this.array_column(s, "count")
      };
    }
  },
  methods: {
    get_stats() {
      axios
        .get(`${this.$store.state.api_url}/stats/paket`)
        .then(res => {
          this.getStats = res.data;
          this.$store.commit("SET_STATS", res.data);
          this.ready = true;
          this.$store.dispatch("setLoading", false);
        })
        .catch(err => console.log(err));
    },
    array_column(arr, column) {
      return arr.map(x => {
        return x[column];
      });
    },
    number_column(arr, column) {
      return arr.map(x => {
        return parseFloat(x[column]);
      });
    }
  }
};
</script>

<style>
.metode-container {
  max-height: 355px;
  overflow-y: auto;
}
</style>