<template>
  <div v-if="ready">
    <section class="content-header">
      <h1>Paket Lelang</h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home
          </a>
        </li>
        <li class="active">Paket Lelang</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <info-box
            data-icon="fa fa-bell"
            data-fill="true"
            data-text="Paket"
            :data-number="stats.per_progres.all.count"
            data-progress="true"
            :data-percent="100"
            data-desc="Total Paket"
            data-color="bg-green"
          ></info-box>
        </div>
        <div class="col-sm-3 col-xs-6">
          <info-box
            data-icon="fa fa-bell"
            data-fill="true"
            data-text="Selesai"
            :data-number="stats.per_progres.selesai.count"
            data-progress="true"
            :data-percent="100"
            data-desc="Paket Selesai"
            data-color="bg-blue"
          ></info-box>
        </div>
        <div class="col-sm-3 col-xs-6">
          <info-box
            data-icon="fa fa-bell"
            data-fill="true"
            data-text="Berjalan"
            :data-number="stats.per_progres.jalan.count"
            data-progress="true"
            :data-percent="100"
            data-desc="Paket Sedang Berjalan"
            data-color="bg-aqua"
          ></info-box>
        </div>
        <div class="col-sm-3 col-xs-6">
          <info-box
            data-icon="fa fa-bell"
            data-fill="true"
            data-text="Gagal"
            :data-number="stats.per_progres.gagal.count"
            data-progress="true"
            :data-percent="100"
            data-desc="Paket Gagal"
            data-color="bg-red"
          ></info-box>
        </div>
      </div>
      <filter-box>
        <filter-tahun :data="tahuns"></filter-tahun>
      </filter-box>
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-body>
              <table class="table table-stripped">
                <thead>
                  <th>Sumber Dana</th>
                  <th>Jumlah</th>
                  <th>Total Pagu</th>
                  <th>Total HPS</th>
                </thead>
                <tbody>
                  <tr v-for="(v,i) in stats.per_sumber_dana" :key="i">
                    <td>{{v.nama}}</td>
                    <td class="text-primary">{{v.count}}</td>
                    <td class="text-green">Rp. {{formatPrice(v.pagu)}}</td>
                    <td class="text-aqua">Rp. {{formatPrice(v.hps)}}</td>
                  </tr>
                </tbody>
              </table>
            </box-body>
          </box>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-header data-title></box-header>
            <box-body>
              <v-server-table
                name="tablePaket"
                :url="url"
                :columns="table.columns"
                :options="table.options"
              >
                <div slot="pkt_nama" slot-scope="props" class="td_pkt_nama">
                  <div class="status-paket">
                    <span class="label label-primary">{{props.row.lls_id}}</span>
                    <span
                      :class="(props.row.tahap === 'SUDAH_SELESAI') ? 'label label-success' : 'label label-info'"
                    >{{(props.row.tahap === 'SUDAH_SELESAI') ? "Paket Selesai" : "Sedang Berjalan" }}</span>
                    <router-link to="/ulang">
                      <span
                        v-if="(props.row.lls_versi_lelang > 1 && props.row.kgr_id == 1)"
                        class="label label-danger"
                      >Seleksi Ulang</span>
                      <span
                        v-if="(props.row.lls_versi_lelang > 1 && props.row.kgr_id != 1)"
                        class="label label-danger"
                      >Tender Ulang</span>
                    </router-link>
                  </div>
                  <div>{{props.row.pkt_nama}}</div>
                  <div>
                    <strong>{{props.row.instansi}}</strong>
                  </div>
                  <div>
                    <span class="text-blue">{{props.row.stk_nama}}</span>
                  </div>
                  <div>{{props.row.ang_tahun}}</div>
                </div>
                <div slot="rkn_nama" slot-scope="props" class="td_pkt_pemena">
                  <div
                    class="pemenang-rekanan"
                    v-if="props.row.rekanan"
                  >{{props.row.rekanan.rkn_nama}}</div>
                  <div class="pemenang-rekanan" v-else>Tidak ada pemenang</div>
                  <hr />
                  <span class="text-g">{{props.row.jumlah_peserta}} Peserta</span>
                </div>
                <div slot="child_row" slot-scope="props">
                  <div class="col-md-3">
                    <div class="description-block border-right">
                      <div class="efesiensi-pak text-blue">
                        <i class="fa fa-money"></i>
                      </div>
                      <h5 class="description-header">Rp. {{formatPrice(props.row.pkt_pagu)}}</h5>
                      <span class="description-text">Pagu</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="description-block border-right">
                      <div class="efesiensi-pak text-blue">
                        <i class="fa fa-money"></i>
                      </div>
                      <h5 class="description-header">Rp. {{formatPrice(props.row.pkt_hps)}}</h5>
                      <span class="description-text">HPS</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="description-block border-right">
                      <div class="efesiensi-pak text-green">
                        <i class="fa fa-free-code-camp"></i>
                      </div>
                      <h5
                        class="description-header"
                      >{{(props.row.pemenang_harga) ? "Rp. "+formatPrice(props.row.pemenang_harga) : " - "}}</h5>
                      <span class="description-text">Harga Penawaran</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="description-block">
                      <div
                        class="efesiensi-pak text-aqua"
                        v-if="props.row.pemenang_harga"
                      >{{ parseFloat(100-(props.row.pemenang_harga/props.row.pkt_pagu*100)).toFixed(2) }}%</div>
                      <h5
                        class="description-header"
                      >{{(props.row.pemenang_harga) ? "+ Rp. "+formatPrice(props.row.pkt_pagu-props.row.pemenang_harga) : " - "}}</h5>
                      <span class="description-text">Selisih</span>
                    </div>
                  </div>
                </div>
              </v-server-table>
            </box-body>
          </box>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { timeout } from "q";
export default {
  props: [],
  data() {
    return {
      url: `${this.$store.state.api_url}/table/lelang/2019`,
      color: [
        "progress-bar-aqua",
        "progress-bar-red",
        "progress-bar-green",
        "progress-bar-blue",
        "progress-bar-yellow"
      ],
      tahuns: [],
      ready: false
    };
  },
  created() {
    this.$store.dispatch("setLoading", true);
    this.$store.dispatch("setStatsPertahun", this.tahun);
  },
  mounted() {
    this.fillPilihanTahun();
    this.$store.dispatch("setLoading", false);
  },
  computed: {
    tahun() {
      return this.$store.getters.tahun;
    },
    stats() {
      return this.$store.getters.monep_stats_pertahun;
    },
    table() {
      return {
        columns: ["pkt_nama", "rkn_nama"],
        options: {
          uniqueKey: "pkt_id",
          headings: {
            pkt_nama: "Paket",
            rkn_nama: "Pemenang"
          },
          sortIcon: {
            base: "fa",
            down: "fa-sort-amount-desc",
            up: "fa-sort-amount-asc",
            is: "fa-sort"
          },
          sortable: ["pkt_nama"],
          filterable: ["pkt_nama"],
          requestFunction: function(data) {
            let tahun = this.$store.getters.tahun;
            return axios
              .post(`${this.$store.state.api_url}/table/lelang/${tahun}`, data)
              .catch(
                function(e) {
                  this.dispatch("error", e);
                }.bind(this)
              );
          },
          responseAdapter: function(res) {
            return {
              data: res.data.table.rows,
              count: res.data.table.count
            };
          }
        }
      };
    }
  },
  watch: {
    tahun(newV, oldV) {
      this.url = `${this.$store.state.api_url}/table/lelang/${newV}`;
      // await this.$store.dispatch("setLoading", true);
      // await this.$store.dispatch("setTahun", newV);
      this.$store.dispatch("setStatsPertahun", newV);
      // setTimeout(() => this.$store.dispatch("setLoading", false), 1000);
    },
    stats(newV, oldV) {
      if (newV != oldV) {
        this.ready = true;
        this.$store.dispatch("setLoading", false);
      }
    }
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    fillPilihanTahun() {
      for (var i = new Date().getFullYear(); i >= 2008; i--) {
        this.tahuns.push(i);
      }
    }
  }
};
</script>
<style>
.td_pkt_nama .status-paket span.label {
  display: inline-block;
  margin-right: 2px;
}
.td_pkt_nama .pemenang-rekanan {
  text-transform: uppercase;
}
.td_pkt_nama .pemenang-harga {
  font-size: 16px;
  font-weight: bold;
}
.VueTables__table tbody tr td:nth-child(0) {
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
</style>
