<template>
  <div>
    <section class="content-header">
      <h1>Kota Asal Rekanan</h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home
          </a>
        </li>
        <li class="active">Kota Rekanan</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <filter-box>
            <filter-tahun :data="tahuns"></filter-tahun>
          </filter-box>
        </div>
        <div class="col-md-12">
          <box>
            <box-header data-title="Provinsi Rekanan"></box-header>
            <box-body>
              <p class="text-center">
                <strong>Data Rekanan Per Provinsi</strong>
              </p>

              <!-- v-client -->
              <vue-table-2
                :data="Object.values(stats.per_provinsi)"
                :columns="tableperPrp.columns"
                :options="tableperPrp.options"
              >
                <div slot="provinsi" slot-scope="props">Provinsi {{props.row.provinsi}}</div>
              </vue-table-2>
            </box-body>
          </box>
        </div>
      </div>

      <!-- row -->

      <div class="row">
        <div class="col-md-12">
          <box>
            <box-header data-title="Rekanan Per Kabupaten"></box-header>
            <box-body>
              <div class="row">
                <div class="col-md-8">
                  <filter-box>
                    <select class="form-control filter-input" v-model="filterProvinsi">
                      <option value selected>Filter Provinsi</option>
                      <option v-for="(v,i) in stats.provinsi" :key="i" :value="v">{{v}}</option>
                    </select>
                  </filter-box>
                  <vue-table-2
                    :data="Object.values(per_kabupaten_filter)"
                    :columns="['kabupaten','count']"
                    :options="tablePerKbp.options"
                  >
                    <div slot="provinsi" slot-scope="props">Provinsi {{props.row.provinsi}}</div>
                  </vue-table-2>
                </div>
                <div class="col-md-4 perbtu-container">
                  <div class="text-center">
                    <strong>Data Penyedia Per Bentuk Usaha</strong>
                  </div>
                  <progress-group
                    v-for="(v,i) in stats.bentuk_usaha"
                    :key="i"
                    :data-text="(v.btu_nama === null) ? 'Lainnya' : v.btu_nama"
                    :data-num="v.jumlah_penyedia"
                    :data-nums="stats.total_penyedia"
                    :data-color="color[Math.floor(Math.random() * color.length)]"
                    :data-percent="v.jumlah_penyedia/stats.total_penyedia*100"
                  ></progress-group>
                </div>
              </div>
            </box-body>
            <box-footer></box-footer>
          </box>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <box>
            <box-body>
              <div class="template-table-vue-table">
                <vue-table-rekanans></vue-table-rekanans>
              </div>
            </box-body>
          </box>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { timeout } from "q";

export default {
  props: [],
  data() {
    return {
      color: [
        "progress-bar-aqua",
        "progress-bar-red",
        "progress-bar-green",
        "progress-bar-blue",
        "progress-bar-yellow"
      ],
      filterProvinsi: "",
      tahuns: [],
      stats: {
        per_provinsi: [],
        per_kabupaten: []
      },
      tablePerKbp: {
        options: {
          uniqueKey: "kabupaten",
          headings: {
            kbp_nama: "Kabupaten",
            jumlah: "Jumlah Penyedia"
          },
          sortIcon: {
            base: "fa",
            down: "fa-sort-amount-desc",
            up: "fa-sort-amount-asc",
            is: "fa-sort"
          },
          sortable: ["kabupaten", "count"],
          filterable: ["kabupaten"]
        }
      },
      tableperPrp: {
        columns: ["provinsi", "terdaftar", "verif", "tolak", "unverif"],
        options: {
          uniqueKey: "prp_id",
          headings: {
            provinsi: "Provinsi",
            terdaftar: "Terdaftar",
            verif: "Terverifikasi",
            tolak: "Ditolak",
            unverif: "Belum Verifikasi"
          },
          sortIcon: {
            base: "fa",
            down: "fa-sort-amount-desc",
            up: "fa-sort-amount-asc",
            is: "fa-sort"
          },
          sortable: ["provinsi", "terdaftar"],
          filterable: ["provinsi"]
        }
      }
    };
  },
  created() {
    this.get_stats_rekanan();
    this.fillPilihanTahun();
  },
  beforeMount() {},
  mounted() {},
  computed: {
    tahun() {
      return this.$store.getters.tahun;
    },
    per_kabupaten_filter() {
      if (this.filterProvinsi != "") {
        let obj = Object.values(this.stats.per_kabupaten);
        return obj.filter(item => {
          return item.provinsi == this.filterProvinsi;
        });
      } else {
        return this.stats.per_kabupaten;
      }
    }
  },
  watch: {
    tahun(newV, oldV) {
      this.get_stats_rekanan();
    }
  },
  methods: {
    get_stats_rekanan() {
      axios
        .get(`${this.$store.state.api_url}/stats/rekanan/${this.tahun}`, {
          headers: {
            "Access-Control-Allow-Origin": "*"
          }
        })
        .then(res => {
          this.stats = res.data;
        })
        .catch(err => console.log(err));
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    fillPilihanTahun() {
      for (var i = new Date().getFullYear(); i >= 2008; i--) {
        this.tahuns.push(i);
      }
    }
  }
};
</script>
<style>
.td_pkt_nama .status-paket span.label {
  display: inline-block;
  margin-right: 2px;
}
.td_pkt_nama .pemenang-rekanan {
  text-transform: uppercase;
}
.td_pkt_nama .pemenang-harga {
  font-size: 16px;
  font-weight: bold;
}
.VueTables__table tbody tr td:nth-child(0) {
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
</style>
