<template>
	<div v-if="ready">
		<section class="content-header">
			<h1>
				Ringkasan Paket
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Ringkasan paket</li>
			</ol>
		</section>

		<section class="content">

			<div class="row">
				<div class="col-md-12">
					<div class="filter-container">
						<div class="filter-body">
							<div class="form-inline">
								<div class="filter-icon"><i class="fa fa-filter"></i></div>
								<filter-tahun :data="tahuns"></filter-tahun>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12" v-for="(v,i) in summary" :key="i">
					<info-box :data-icon="v.icon"
					:data-text="v.text"
					:data-number="v.number" 
					:data-progress="v.progress"
					:data-percent="v.percent"
					:data-desc="v.desc"
					:data-color="v.color" />
				</div>
				<div class="clearfix visible-sm-block"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<box v-if="summary.length > 0">
						<box-header data-title="Grafik Lelang Per Tahun" no-widget="true"></box-header>
						<box-body>
							<div class="row">
								<div class="col-md-8">
									<p class="text-center">
										<strong>Ringkasan Data Paket</strong>
									</p>

									<div class="chart">
										<highchart-bar :data="paketSummaryPerbulan" id="chart-bar-summary-pertahun"></highchart-bar>
									</div>
								</div>
								<div class="col-md-4">
									<p class="text-center">
										<strong>Statistik Paket</strong>
									</p>

									<info-box data-icon="fa fa-check"
									data-fill="true"
									data-text="Paket"
									:data-number="summary[0].number" 
									data-progress="true"
									data-percent="100"
									data-desc="Total Paket"
									data-color="bg-aqua"></info-box>

									<info-box data-icon="fa fa-dollar"
									data-fill="true"
									data-text="Pagu"
									:data-number="this.formatPrice(summary[1].dana)" 
									data-progress="true"
									data-percent="100"
									data-desc="Jumlah pagu paket"
									data-color="bg-green"></info-box>

									<info-box data-icon="fa fa-dollar"
									data-fill="true"
									data-text="HPS"
									:data-number="this.formatPrice(summary[2].dana)" 
									data-progress="true"
									data-percent="100"
									data-desc="Jumlah hps paket"
									data-color="bg-red"></info-box>

								</div>
							</div>
						</box-body>
						<box-footer>
							<div class="row">
								<div class="col-sm-3 col-xs-6">
									<description-block 
									data-color="text-aqua"
									data-icon="fa fa-caret-right"
									:data-optional="efisiensi.jumlah"
									:data-number="'Rp. '+this.formatPrice(efisiensi.pkt_pagu)"
									data-text="Pagu dan Jumlah"
									data-border="border-right"></description-block>
								</div>
								<div class="col-sm-3 col-xs-6">
									<description-block 
									data-color="text-blue"
									data-icon="fa fa-caret-right"
									:data-optional="efisiensi.persen+'%'"
									:data-number="'Rp. '+this.formatPrice(efisiensi.harga)"
									data-text="Nilai Kontrak"
									data-border="border-right"></description-block>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="description-block border-right">
										<span class="description-percentage text-red"><i class="fa fa-caret-right"></i> {{efisiensi.persen_efisien}}%</span>
										<h5 class="description-header">Rp. {{this.formatPrice(efisiensi.selisih)}}</h5>
										<span class="description-text">Selisih</span>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="description-block">
										<span class="description-percentage text-green"><i class="fa fa-free-code-camp"></i></span>
										<h5 class="description-header">{{efisiensi.persen_efisien}}%</h5>
										<span class="description-text">Efisiensi</span>
									</div>
								</div>
							</div>
						</box-footer>
					</box>
				</div>
			</div>

			<div class="row">
				<div class="knob-container" v-if="Object.entries(summaryPerState).length > 0">
					<div class="col-xs-3 text-center">
						<knob data-width="60" data-height="60" data-color="#39CCCC" data-text="Paket Selesai" v-if="summaryPerState.status.selesai" :data-value="parseFloat(summaryPerState.status.selesai.persen).toFixed(1)"></knob>
					</div>
					<div class="col-xs-3 text-center">
						<knob data-width="60" data-height="60" data-color="#39CCCC" data-text="Paket Sukses" v-if="summaryPerState.status.sukses" :data-value="parseFloat(summaryPerState.status.sukses.persen).toFixed(1)"></knob>
					</div>
					<div class="col-xs-3 text-center">
						<knob data-width="60" data-height="60" data-color="#39CCCC" data-text="Paket Gagal" v-if="summaryPerState.status.gagal" :data-value="parseFloat(summaryPerState.status.gagal.persen).toFixed(1)"></knob>
					</div>
					<div class="col-xs-3 text-center">
						<knob data-width="60" data-height="60" data-color="#39CCCC" data-text="Paket Jalan" v-if="summaryPerState.status.jalan" :data-value="parseFloat(summaryPerState.status.jalan.persen).toFixed(1)"></knob>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<box>
						<box-header data-title="Metode Pemilihan Paket"></box-header>
						<box-body>
							<div class="row">
								<div class="col-md-8">
									<p class="text-center">
										<strong>Data Paket Per Metode Pemilihan</strong>
									</p>
									<highchart-bar :data="chartBarMetode" id="chart-bar-metode"></highchart-bar>
								</div>
								<div class="col-md-4">
									<div class="text-center"><strong>Metode Pemilihan</strong></div>

									<div class="metode-container">
										<progress-group v-for="(v,i) in metode" :key="i"
										:data-text="v.nama"
										:data-num="v.count" 
										:data-nums="v.total" 
										:data-color="v.color"
										:data-percent="v.percent"></progress-group>
									</div>

								</div>
							</div>
						</box-body>
						<box-footer></box-footer>
					</box>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<box>
						<box-header data-title="Kategori Lelang"></box-header>
						<box-body>
							<div class="row">
								<div class="col-md-8">
									<p class="text-center">
										<strong>Data Paket Per Kategori</strong>
									</p>
									<highchart-bar :data="chartBarKategori" id="chart-bar-kategori"></highchart-bar>
								</div>
								<div class="col-md-4">
									<div class="text-center"><strong>Kategori</strong></div>

									<progress-group v-for="(v,i) in kategori" :key="i" 
									:data-text="v.nama"
									:data-num="v.count" 
									:data-nums="v.total" 
									:data-color="v.color"
									:data-percent="v.percent"></progress-group>

									<div class="row">
										<div class="knob-container">
											<div class="col-xs-6 text-center" v-for="(v,i) in summaryPerState.versi" :key="i">
												<knob data-width="60" data-height="60" data-color="#dd4b39" :data-text="v.nama" :data-value="parseFloat(v.count/v.total*100).toFixed(1)"></knob>
											</div>
										</div>
									</div>
								</div>
							</div>
						</box-body>
						<box-footer>

						</box-footer>
					</box>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
import { mapState } from 'vuex'
import { timeout } from 'q';

export default {
	props: [],
	data() {
		return {
			color: ['progress-bar-aqua', 'progress-bar-red', 'progress-bar-green', 'progress-bar-blue', 'progress-bar-yellow'],
			bulan: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
			tahuns: [],
			ready: false
		}
	},
	created(){
		this.$store.dispatch("setLoading", true);
    this.$store.dispatch("setStatsPertahun", this.tahun);
	},
	beforeMount() {},
	mounted() {
		this.fillPilihanTahun()
		setTimeout(() => {
			//this.ready = true;
			this.$store.dispatch("setLoading", false);
		}, 2000);
	},
	computed: {
		tahun() {
      return this.$store.getters.tahun;
		},
		stats(){
			return this.$store.getters.monep_stats_pertahun;
		},
		summary() {
			let a = [];
			let s = this.$store.getters.monep_stats_pertahun;
			let all = s.per_progres.all;
			a.push({ icon: 'fa fa-bell', text : 'Jumlah Paket', number : all.count ? all.count : 0, progress : false, percent : 100, desc : 'Jumlah paket tayang', color : 'bg-aqua',  });
			a.push({ icon: 'fa fa-dollar', text : 'Pagu', number : all.pagu ? (all.pagu / 1000000000000).toFixed(2) + " T" : "0 T", progress : true, percent : 100, desc : 'Total seluruh pagu', color : 'bg-red', dana: all.pagu });
			a.push({ icon: 'fa fa-dollar', text : 'HPS', number : all.hps ? (all.hps / 1000000000000).toFixed(2) + " T" : "0 T", progress : false, percent : 100, desc : 'Total HPS', color : 'bg-green', dana: all.hps });
			a.push({ icon: 'fa fa-bank', text : 'Jumlah Rekanan', number : s.jumlah_rekanan, progress : true, percent : 100, desc : 'Total Rekanan', color : 'bg-yellow',  });
			return a;
		},
		efisiensi() {
			let s = this.$store.getters.monep_stats_pertahun;
			let progres = s.per_progres.sukses;
			return {
				jumlah: progres.count,
				pkt_pagu: progres.pagu,
				pkt_hps: progres.hps,
				harga: progres.harga,
				selisih: progres.pagu - progres.harga,
				persen: parseFloat((progres.harga / progres.pagu) * 100).toFixed(2),
				persen_efisien: parseFloat(
					100 - (progres.harga / progres.pagu) * 100
				).toFixed(2)
			};
		},
		kategori() {
			let s = this.$store.getters.monep_stats_pertahun;
			let obj = s.per_kategori;
			let arr = Object.values(obj);
			let t = arr.reduce(function(val, el) {
				return val + el.count;
			}, 0);
			let c = this.color;
			arr.map(el => {
				el.total = t;
				el.color = c[Math.floor(Math.random() * c.length)];
				el.percent = (el.count / t) * 100;
				return el;
			});
			return arr;
    },
    chartBarKategori() {
			let arr = this.kategori;
			return {
				title: "Grafik Kategori Lelang",
				subTitle: "Perbandingan Per Kategori",
				xAxisLabel: this.array_column(arr, "nama"),
				yAxisRight: this.array_column(arr, "pagu"),
				yAxisLeft: this.array_column(arr, "count")
			};
    },
    metode() {
			let s = this.$store.getters.monep_stats_pertahun;
			let obj = s.per_mtd_pemilihan;
			let arr = Object.values(obj);
			let t = arr.reduce(function(val, el) {
				return val + el.count;
			}, 0);
			let c = this.color;
			arr.map(el => {
				el.total = t;
				el.color = c[Math.floor(Math.random() * c.length)];
				el.percent = (el.count / t) * 100;
				return el;
			});
			return arr;
    },
    chartBarMetode() {
			let s = this.metode;
			return {
				title: "Grafik Metode Pemilihan",
				subTitle: "Perbandingan Per Metode Pemilihan",
				xAxisLabel: this.array_column(s, "nama"),
				yAxisRight: this.array_column(s, "pagu"),
				yAxisLeft: this.array_column(s, "count")
			};
		},
		paketSummaryPerbulan(){
			let s = this.$store.getters.monep_stats_pertahun;
			let arr = Object.values(s.per_bulan);
			return {
				title: "Grafik Paket",
				subTitle: "Ringkasan Paket Pertahun",
				xAxisLabel: this.bulan_column(arr, "bulan"),
				yAxisRight: this.number_column(arr, "pagu"),
				yAxisLeft: this.array_column(arr, "count")
			};
		},
		summaryPerState() {
			let s = this.$store.getters.monep_stats_pertahun;
			if (Object.keys(s).length > 0) {
				let obj = s.per_progres;
				let ver = s.per_versi_spse;
				let vspse = Object.values(ver);
				return {
					status: {
						selesai: {
							jumlah: obj.selesai.count,
							persen: parseFloat(obj.selesai.count/obj.all.count*100).toFixed(2),
							pkt_hps: obj.selesai.pagu,
							pkt_pagu: obj.selesai.hps
						},
						sukses: {
							jumlah: obj.sukses.count,
							persen: parseFloat(obj.sukses.count/obj.all.count*100).toFixed(2),
							pkt_hps: obj.sukses.pagu,
							pkt_pagu: obj.sukses.hps
						},
						jalan: {
							jumlah: obj.jalan.count,
							persen: parseFloat(obj.jalan.count/obj.all.count*100).toFixed(2),
							pkt_hps: obj.jalan.pagu,
							pkt_pagu: obj.jalan.hps
						},
						gagal: {
							jumlah: obj.gagal.count,
							persen: parseFloat(obj.gagal.count/obj.all.count*100).toFixed(2),
							pkt_hps: obj.gagal.pagu,
							pkt_pagu: obj.gagal.hps
						},
					},
					versi: vspse
				}
			}
			return {}
		}
	},
	watch: {
		tahun(newV, oldV){
			this.$store.dispatch("setStatsPertahun", newV);
		},
		stats(newV, oldV){
			if (newV !== oldV ){
				this.ready = true;
				this.$store.dispatch("setLoading", false);
			}
		}
	},
	methods: {
		array_column(arr, column){
			return arr.map(x => {
				return x[column];
			});
		},
		number_column(arr, column){
			return arr.map(x => {
				return parseFloat(x[column]);
			});
		},
		bulan_column(arr, column){
			return arr.map(x => {
				return this.bulan[x[column]-1];
			});
		},
		fillPilihanTahun(){
			for(var i=new Date().getFullYear();i >= 2008; i--){
				this.tahuns.push(i);
			}
		}
	}
}
</script>

<style>
.metode-container {
	max-height: 355px;
	overflow-y: auto;
}
.knob-container {
	padding: 15px 0;
	background-color: #fff;
	margin-bottom: 15px;
}
.knob-container::after {
	content: "";
	display: block;
	clear: both;
}
</style>