<template>
  <div class="template">
    <section class="content-header">
      <h1>Satuan Kerja</h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home
          </a>
        </li>
        <li class="active">Satuan Kerja</li>
      </ol>
    </section>

    <section class="content">
      <filter-box>
        <filter-tahun :data="tahuns"></filter-tahun>
        <select class="form-control filter-input" v-model="filterInstansi">
          <option value selected>Filter Instansi</option>
          <option v-for="(v,i) in dataStats.instansi" :key="i" :value="v">{{v}}</option>
        </select>
      </filter-box>

      <div class="row">
        <div class="col-md-12">
          <box>
            <box-body>
              <table class="table table-stripped satker">
                <thead>
                  <tr>
                    <th class="va-mid" rowspan="2">Satuan Kerja</th>
                    <th class="ta-c" colspan="4">Jumlah</th>
                    <th class="ta-c" colspan="2">Pemenang</th>
                  </tr>
                  <tr>
                    <th class="ta-c">Tayang</th>
                    <th class="ta-c">Selesai</th>
                    <th class="ta-c">Jalan</th>
                    <th class="ta-c">Sukses</th>
                    <th class="ta-c">SPPBJ</th>
                    <th class="ta-c">Kontrak</th>
                  </tr>
                </thead>
                <tbody v-if="dataRowFiltered.length > 0">
                  <tr v-for="(v, i) in dataRowFiltered" :key="i">
                    <td class="row-a">
                      <div class="col-satker" @click="get_paket_satker(v)">{{ v.satker }}</div>
                    </td>
                    <td class="ta-c">{{v.tayang.count}}</td>
                    <td class="ta-c">{{v.selesai.count}}</td>
                    <td class="ta-c">{{v.jalan.count}}</td>
                    <td class="ta-c">{{v.sukses.count}}</td>
                    <td class="ta-c">{{v.kontrak.count}}</td>
                    <td class="ta-c">{{v.sppbj.count}}</td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="8">
                      <div class="lds-facebook">
                        <div class="bg-green"></div>
                        <div class="bg-green"></div>
                        <div class="bg-green"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </box-body>
          </box>
        </div>
      </div>
    </section>

    <modal-box :show="modal" @close="() => modal = false">
      <div class="satker-pilih">
        <h3>{{paketSatkerPilih.satker}}</h3>
        <h4>{{paketSatkerPilih.instansi}}</h4>
        <div>
          <h4>{{this.tahun}}</h4>
        </div>
      </div>
      <div class="satker-summary" v-if="Object.keys(paketSatkerPilih).length > 0">
        <div class="row">
          <div class="col-sm-6">
            <!-- Progress bars -->
            <div class="clearfix">
              <span class="pull-left">PAKET SELESAI</span>
              <small class="pull-right">{{paketSatkerPilih.selesai.count}}</small>
            </div>
            <div class="progress xs">
              <div
                class="progress-bar progress-bar-green"
                :style="{width: paketSatkerPilih.selesai.count/paketSatkerPilih.tayang.count*100+'%'}"
              ></div>
            </div>
            <div class="clearfix">
              <span class="pull-left">PAKET SUKSES</span>
              <small class="pull-right">{{paketSatkerPilih.sukses.count}}</small>
            </div>
            <div class="progress xs">
              <div
                class="progress-bar progress-bar-green"
                :style="{width: paketSatkerPilih.sukses.count/paketSatkerPilih.tayang.count*100+'%'}"
              ></div>
            </div>
            <div class="clearfix">
              <span class="pull-left">PAKET GAGAL</span>
              <small class="pull-right">{{paketSatkerPilih.gagal.count}}</small>
            </div>
            <div class="progress xs">
              <div
                class="progress-bar progress-bar-red"
                :style="{width: paketSatkerPilih.gagal.count/paketSatkerPilih.tayang.count*100+'%'}"
              ></div>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- Progress bars -->
            <div class="clearfix">
              <span class="pull-left">PAGU</span>
              <small class="pull-right">Rp. {{formatPrice(paketSatkerPilih.tayang.pagu)}}</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 100%;"></div>
            </div>
            <div class="clearfix">
              <span class="pull-left">HPS</span>
              <small class="pull-right">Rp. {{formatPrice(paketSatkerPilih.tayang.hps)}}</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 100%;"></div>
            </div>
            <div class="clearfix">
              <span class="pull-left">TOTAL PAKET</span>
              <small class="pull-right">{{paketSatkerPilih.tayang.count}}</small>
            </div>
            <div class="progress xs">
              <div class="progress-bar progress-bar-green" style="width: 100%;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <table-paket-satker-pilih :data-rows="dataPaketSatkerDipilih"></table-paket-satker-pilih>
    </modal-box>
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {
      tahuns: [],
      modal: false,
      dataStats: {
        per_satker: [],
        satker: [],
        instansi: []
      },
      filterInstansi: "",
      paketSatkerPilih: {},
      dataPaketSatkerDipilih: []
    };
  },
  created() {
    this.get_satker_stat();
    this.fillPilihanTahun();
  },
  mounted() {},
  computed: {
    dataRowFiltered() {
      if (this.filterInstansi != "") {
        return this.dataStats.per_satker.filter(item => {
          return item.instansi == this.filterInstansi;
        });
      } else {
        return this.dataStats.per_satker;
      }
    },
    tahun() {
      return this.$store.getters.tahun;
    }
  },
  methods: {
    get_satker_stat() {
      axios
        .get(`${this.$store.state.api_url}/stats/persatker/${this.tahun}`)
        .then(res => {
          let r = res.data;
          this.dataStats = r;
          this.filterInstansi = "";
        })
        .catch(err => console.log(err));
    },
    get_paket_satker(pkt) {
      this.paketSatkerPilih = pkt;
      axios
        .post(
          `${this.$store.state.api_url}/table/lelang/${this.tahun}`,
          { stk_id: pkt.stk_id },
          {
            headers: {
              "Access-Control-Allow-Origin": "*"
            }
          }
        )
        .then(res => {
          this.dataPaketSatkerDipilih = res.data;
          this.modal = true;
        })
        .catch(err => console.log(err));
    },
    fillPilihanTahun() {
      for (var i = new Date().getFullYear(); i >= 2008; i--) {
        this.tahuns.push(i);
      }
    }
  },
  watch: {
    tahun(newV, oldV) {
      this.get_satker_stat();
    }
  }
};
</script>
<style>
.satker-pilih {
  text-align: center;
}
table.satker thead th {
  border: 2px solid #f4f4f4;
  border-top: 2px solid #f4f4f4;
  border-collapse: collapse;
}
.va-mid,
.table > thead > tr > th.va-mid {
  vertical-align: middle;
}
.ta-c {
  text-align: center;
}
.col-satker {
  cursor: pointer;
}
.satker-pilih-table .status-paket span.label {
  display: inline-block;
  margin-right: 2px;
}
/* .satker-pilih-table .description-block .description-header{
    padding: 4px;
    background: #F44336;
    color: #fff;
} */
.satker-pilih-table .pemenang-rekanan {
  text-transform: uppercase;
}
.satker-pilih-table .pemenang-harga {
  font-size: 16px;
  font-weight: bold;
}
</style>