<template>
	<div>
		<section class="content-header">
			<h1>
				Paket Lelang Ulang
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Paket Lelang Ulang</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<box>
						<box-header data-title=""></box-header>
						<box-body>
							<div class="chart">
								<highchart-bar :data="chartBarPaketUlang" id="chart-bar-summary-pertahun-lelang-ulang"></highchart-bar>
							</div>
							<hr>
							<v-server-table :url="`${this.$root.state.api_url}/paket_ulang`" :columns="table.columns" :options="table.options">
								<div slot="pkt_nama" slot-scope="props" class="td_pkt_nama">
									<div class="status-paket">
										<span class="label label-primary">{{props.row.lls_id}}</span>
										<span :class="(props.row.tahap === 'SUDAH_SELESAI') ? 'label label-success' : 'label label-warning'">
											{{(props.row.tahap === 'SUDAH_SELESAI') ? "Paket Selesai" : "Sedang Berjalan" }}
										</span>
										<span v-if="(props.row.tahap === 'SUDAH_SELESAI' && !props.row.pemenang_rkn_id)" class="label label-danger">
											Paket Gagal
										</span>
										<span v-if="(props.row.tahap === 'SUDAH_SELESAI' && props.row.pemenang_rkn_id)" class="label label-info">
											Paket Sukses
										</span>
									</div>
									<div>{{props.row.pkt_nama}}</div>
									<div>{{props.row.nama_instansi}}</div>
									<div>{{props.row.ang_tahun}}</div>
								</div>
								<div slot="rkn_nama" slot-scope="props" class="td_pkt_pemena">
									<div class="pemenang-rekanan">{{props.row.rkn_nama}}</div>
									<div class="efesiensi-pak text-aqua" v-if="props.row.pemenang_harga">{{ parseFloat(100-(props.row.pemenang_harga/props.row.pkt_pagu*100)).toFixed(2) }}%</div>
								</div>
								<div slot="child_row" slot-scope="props" >
									<div class="col-md-3">
										<div class="description-block border-right">
											<h5 class="description-header">Rp. {{formatPrice(props.row.pkt_pagu)}}</h5> 
											<span class="description-text">Pagu</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="description-block border-right">
											<h5 class="description-header">Rp. {{formatPrice(props.row.pkt_hps)}}</h5> 
											<span class="description-text">HPS</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="description-block border-right">
											<h5 class="description-header">
												{{(props.row.pemenang_harga) ? "Rp. "+formatPrice(props.row.pemenang_harga) : " - "}}
											</h5> 
											<span class="description-text">Harga Penawaran</span>
										</div>
									</div>
									<div class="col-md-3">
										<div class="description-block">
											<h5 class="description-header">
												{{(props.row.pemenang_harga) ? "+ Rp. "+formatPrice(props.row.pkt_pagu-props.row.pemenang_harga) : " - "}}
											</h5> 
											<span class="description-text">Selisih</span>
										</div>
									</div>
								</div>
							</v-server-table>
						</box-body>
					</box>
				</div>
			</div>

		</section>
	</div>
</template>
<script>
import { mapState } from 'vuex'
import { timeout } from 'q';
export default {
	props: [],
	data() {
		return {
			chartBarPaketUlang: {},
			color: ['progress-bar-aqua', 'progress-bar-red', 'progress-bar-green', 'progress-bar-blue', 'progress-bar-yellow'],
			table: {
				columns: ['pkt_nama', 'rkn_nama'],
				options: {
					uniqueKey: 'pkt_id',
					headings: {
						pkt_nama: 'Paket',
						rkn_nama: 'Pemenang'
					},
					sortIcon: { base:'fa', down:'fa-sort-amount-desc', up:'fa-sort-amount-asc', is:'fa-sort' },
					sortable: ['pkt_nama'],
					filterable: ['pkt_nama'],
					responseAdapter: function(res) {
						return {
							data: res.data.table.rows,
							count: res.data.table.count
						}
					}
				}
			}
		}
	},
	mounted() {
		this.get_paket();
	},
	computed: {
		tahun() {
      return this.$store.getters.tahun;
		}
	},
	watch: {
		tahun(newV, oldV){
			this.get_asal_pemenang();
		}
	},
	methods: {
		get_paket(){
			axios.get(`${this.$root.state.api_url}/paket_ulang`)
			.then(res => {
				let s = res.data.pertahun
				console.log(s)
				this.chartBarPaketUlang = {
					title: 'Grafik Paket',
					subTitle: 'Lelang Ulang Pertahun',
					xAxisLabel: this.array_column(s, 'tahun'),
					yAxisRight: this.number_column(s, 'pkt_pagu'),
					yAxisLeft: this.array_column(s, 'jumlah')
				}
			})
			.catch(err => console.log(err));
		},
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		},
		array_column(arr, column){
			return arr.map(x => {
				return x[column];
			});
		},
		number_column(arr, column){
			return arr.map(x => {
				return parseFloat(x[column]);
			});
		}
	}
}
</script>
<style>
.td_pkt_nama .status-paket span.label {
  display: inline-block;
  margin-right: 2px;
}
.td_pkt_nama .pemenang-rekanan{
  text-transform: uppercase;
}
.td_pkt_nama .pemenang-harga {
  font-size: 16px;
  font-weight: bold;
}
.VueTables__table tbody tr td:nth-child(0){
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
</style>
