<template>
	<div :class="(dataColor) ? 'alert alert-dismissible '+dataColor : 'alert alert-dismissible alert-info'">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4>
			<slot name="title"></slot>
		</h4>
		<slot></slot> <!-- slot utama -->
	</div>
</template>
<script>
export default {
	props: ['dataColor'],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>