<template>
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <!-- <img :src="logoSrc" class="img-circle" alt="User Image"> -->
        <img :src="logoSrc" alt="SUMBAR" />
      </div>
      <div class="pull-left info">
        <p>LPSE Sumatera Barat</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online
        </a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." />
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <router-link to="/">
          <i class="fa fa-book"></i>
          <span>Dashboard</span>
        </router-link>
      </li>
      <li>
        <router-link to="/detail">
          <i class="fa fa-bar-chart-o"></i>
          <span>Ringkasan Paket</span>
        </router-link>
      </li>
      <!-- <li><a href="./detail"><i class="fa fa-bar-chart-o"></i> <span>Ringkasan Paket</span></a></li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-table"></i>
          <span>Data Lelang</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <router-link to="/paket">
              <i class="fa fa-circle-o"></i> Paket Lelang
            </router-link>
          </li>
          <!-- <li><router-link to="/grafik"><i class="fa fa-circle-o"></i> Grafik Lelang</router-link></li> -->
          <li>
            <router-link to="/satker">
              <i class="fa fa-circle-o"></i> Satuan Kerja
            </router-link>
          </li>
          <!-- <li><router-link to="/ulang"><i class="fa fa-circle-o"></i> Lelang Ulang</router-link></li>
          <li><router-link to="/gagal"><i class="fa fa-circle-o"></i> Lelang Gagal</router-link></li>-->
        </ul>
      </li>
      <li>
        <router-link to="/rekanan">
          <i class="fa fa-bank"></i>
          <span>Rekanan LPSE</span>
          <!-- <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
          </span>-->
        </router-link>
      </li>
      <!-- <li><router-link to="/statistik"><i class="fa fa-line-chart"></i> <span>Statistik Agency</span></router-link></li> -->
      <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-file-excel-o"></i> <span>Pelaporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="/resume"><i class="fa fa-circle-o"></i> Resume</router-link></li>
            <li><router-link to="/cetak"><i class="fa fa-circle-o"></i> Cetak</router-link></li>
          </ul>
      </li>-->
      <!-- <li class="header">LABELS</li>
        <li>
          <router-link to="/detail">
            <i class="fa fa-circle-o text-red"></i> <span>Important</span>
          </router-link>
        </li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
    </ul>
  </section>
</template>
<script>
export default {
  props: ["logoSrc"],
  data() {
    return {};
  },
  mounted() {},
  methods: {}
};
</script>