<template>
	<div :class="(dataColor) ? 'box '+ dataColor:'box box-success'">
		<slot></slot>
	</div>
</template>
<script>

export default {
	props: ['dataColor'],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>