<template>
	<div class="box-header with-border">
		<h3 class="box-title">
			{{dataTitle}}
		</h3>
		<div class="box-tools pull-right">
			<slot></slot>
			<button type="button" class="btn btn-box-tool" data-widget="remove" v-if="!noWidget">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
</template>
<script>
export default {
	props: ['dataTitle', 'noWidget'],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>