<template>
	<div>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
					<div>
						<h4 class="control-sidebar-heading">Layout Options</h4>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								<input type="checkbox" data-layout="fixed" class="pull-right" checked="checked"> Fixed layout
							</label>
							<p>Sidebar tidak akan ikut scroll.</p>
						</div>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								<input type="checkbox" data-layout="layout-boxed" class="pull-right"> Boxed Layout
							</label>
							<p>Halaman di tengah layar.</p>
						</div>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								<input type="checkbox" data-layout="sidebar-collapse" class="pull-right"> Toggle Sidebar
							</label>
							<p>Tampil / tutup sidebar.</p>
						</div>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								<input type="checkbox" data-enable="expandOnHover" class="pull-right"> Sidebar Expand on Hover
							</label>
							<p>Sidebar ukuran mini, ukuran default muncul saat kursor diarahkan ke sidebar.</p>
						</div>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								<input type="checkbox" data-controlsidebar="control-sidebar-open" class="pull-right"> Toggle Right Sidebar Slide</label>
								<p>Ukuran isi halaman ikut mengecil saat sidebar kanan terbuka.</p>
							</div>
							<div class="form-group">
								<label class="control-sidebar-subheading">
									<input type="checkbox" data-sidebarskin="toggle" class="pull-right"> Toggle Right Sidebar Skin
								</label>
								<p>Mengganti tema sidebar kanan (Gelap / Terang)</p>
							</div>
							<h4 class="control-sidebar-heading">Skins</h4>
							<ul class="list-unstyled clearfix">
								<li style="float:left; width: 33.33333%; padding: 5px;">
									<a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
										<div>
											<span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span>
											<span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
											<span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div>
									</a>
									<p class="text-center no-margin">Blue</p>
								</li>
								<li style="float:left; width: 33.33333%; padding: 5px;">
									<a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
										<div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
											<span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span>
											<span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
										</div>
										<div>
											<span style="display:block; width: 20%; float: left; height: 20px; background: #222"></span>
											<span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div>
									</a>
									<p class="text-center no-margin">Black</p>
								</li>
								<li style="float:left; width: 33.33333%; padding: 5px;">
									<a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
										<div>
											<span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
											<span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
											<span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div>
									</a>
									<p class="text-center no-margin">Purple</p>
								</li>
								<li style="float:left; width: 33.33333%; padding: 5px;">
									<a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
										<div>
											<span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
											<span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
										</div>
										<div>
											<span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
											<span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
										</div>
									</a>
									<p class="text-center no-margin">Green</p>
								</li>
								<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Red</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin">Yellow</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Blue Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Black Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Purple Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Green Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Red Light</p></li><li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover"><div><span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span></div><div><span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div></a><p class="text-center no-margin" style="font-size: 12px">Yellow Light</p></li></ul></div></div>
			</div>
		</aside>
		<div class="control-sidebar-bg"></div>
	</div>
</template>
<script>
export default {
	props: [],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>