<template>
	<div :class="['description-block', dataBorder]">
		<!-- optional  -->
		<span :class="['description-percentage', dataColor]" v-if="dataOptional">
			<i v-if="dataIcon" :class="dataIcon"></i> {{dataOptional}}
		</span>
		<h5 class="description-header">{{dataNumber}}</h5>
		<span class="description-text">{{dataText}}</span>
	</div>
</template>
<script>
export default {
	props: ['dataNumber', 'dataText', 'dataOptional', 'dataColor', 'dataBorder', 'dataIcon'],
	data() {
		return {
		}
	},
	mounted() {
	},
	methods: {}
}
</script>