<template>
  <select class="form-control filter-input" v-model="setTahun" @change="set_tahun">
    <option v-for="(v,i) in data" :key="i" :value="v">{{v}}</option>
  </select>
</template>
<script>
export default {
  props: ["data"],
  data() {
    return {
      setTahun: this.$store.getters.tahun
    };
  },
  methods: {
    async set_tahun() {
      await this.$store.dispatch("setLoading", true);
      await this.$store.dispatch("setTahun", this.setTahun);
      setTimeout(() => this.$store.dispatch("setLoading", false), 2000);
    }
  }
};
</script>