<template>
  <div class="row">
    <div class="col-md-12">
      <div class="filter-container">
        <div class="filter-body">
          <div class="form-inline">
            <div class="filter-icon">
              <i class="fa fa-filter"></i>
            </div>
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {};
  },
  methods: {}
};
</script>
<style>
.filter-container {
  background-color: #fff;
  margin-bottom: 25px;
}
.filter-container::after {
  content: "";
  clear: both;
  display: block;
}
.filter-icon {
  float: left;
  padding: 15px;
  background: #00c0ef;
  color: #fff;
}
.filter-input {
  height: 50px;
  padding: 0 25px;
}
</style>
