<template>
  <div>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- <li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success">4</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 4 messages</li>
							<li>
								<ul class="menu">
									<li>
										<a href="#">
											<div class="pull-left">
												<img :src="logoSrc" class="img-circle" alt="LOGO">
											</div>
											<h4>
												Support Team
												<small><i class="fa fa-clock-o"></i> 5 mins</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">See All Messages</a></li>
						</ul>
          </li>-->
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img :src="logoSrc" class="user-image" alt="LOGO" />
              <span class="hidden-xs">LPSE Sumatera Barat</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <!-- <img :src="logoSrc" class="img-circle" alt="LOGO"> -->
                <img :src="logoSrc" alt="LOGO" />

                <p>
                  LPSE Sumatera Barat
                  <small>From 2019</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <a
                  :href="this.$store.state.monep_url+'/login'"
                  class="btn btn-default btn-flat"
                >Sign In</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" data-toggle="control-sidebar">
              <i class="fa fa-gears"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  props: ["logoSrc"],
  data() {
    return {};
  },
  mounted() {},
  methods: {}
};
</script>