<template>
	<div class="chart-view" :id="id" :style="{minHeight: (height) ? height:305+'px'}"></div>
</template>

<script>
import Highcharts from 'highcharts';
export default {
	props: ["data", "id", "height"],
	data() {
		return {
			chart: this.data
		};
	},
	methods: {
		render() {
			$(`#${this.id}`).highcharts({
				chart: {
					zoomType: "xy"
				},
				title: {
					text: this.chart.title
				},
				subtitle: {
					text: this.chart.subTitle
				},
				xAxis: [
					{
						categories: this.chart.xAxisLabel,
						crosshair: true
					}
				],
				yAxis: [
					{
						labels: {
							format: "{value} Pkt",
							style: {
								color: Highcharts.getOptions().colors[3]
							}
						},
						title: {
							text: "Jumlah Paket",
							style: {
								color: Highcharts.getOptions().colors[3]
							}
						}
					},
					{
						gridLineWidth: 1,
						opposite: true,
						labels: {
							format: `{value} M`,
							style: {
								color: Highcharts.getOptions().colors[2]
							},
							formatter: function () {
								let num = this.value/1000000000;
								return Highcharts.numberFormat(num,0) + 'M';
							}
						},
						title: {
							text: "Pagu (Rp.)",
							style: {
								color: Highcharts.getOptions().colors[2]
							}
						}
					}
				],
				tooltip: {
					shared: true
				},
				legend: {
					enabled: false,
					layout: "vertical",
					align: "left",
					x: 80,
					verticalAlign: "top",
					y: 0,
					floating: true,
					backgroundColor:
						(Highcharts.theme && Highcharts.theme.legendBackgroundColor) ||
						"#FFFFFF"
				},
				series: [
					{
						name: "Pagu",
						type: "column",
						yAxis: 1,
						data: this.chart.yAxisRight,
						tooltip: {
							valuePrefix: "Rp ",
							valueSuffix: " "
						}
					},
					{
						name: "Paket",
						type: "line",
						data: this.chart.yAxisLeft,
						color: "#fe0903",
						tooltip: {
							valueSuffix: " Paket"
						}
					}
				]
			});
		}
	},
	mounted() {
		this.render();
	},
	watch: {
		data: function(newVal, oldVal) {
			this.chart = newVal;
			this.render();
		}
	}
};
</script>