<template>
	<div :class="(dataFill) ? 'info-box '+dataColor : 'info-box'">
		<span :class="(!dataFill) ? 'info-box-icon ' + dataColor : 'info-box-icon'"><i :class="dataIcon"></i></span>
		<div class="info-box-content" v-if="dataNumber !== NaN">
			<span class="info-box-text">{{dataText}}</span>
			<span class="info-box-number">{{dataNumber}}</span>
			<div v-if="dataProgress">
				<div class="progress" v-if="dataPercent">
					<div class="progress-bar" :style="{ width: dataPercent+'%' }"></div>
				</div>
				<span class="progress-description" v-if="dataDesc">
					{{dataDesc}}
				</span>
			</div>
		</div>
		<div v-else>
      <div class="lds-facebook">
        <div :class="(dataFill) ? '' : dataColor"></div>
        <div :class="(dataFill) ? '' : dataColor"></div>
        <div :class="(dataFill) ? '' : dataColor"></div>
      </div>
		</div>
	</div>
</template>
<script>
export default {
	props: ['dataFill', 'dataIcon', 'dataText', 'dataNumber', 'dataColor', 'dataProgress', 'dataPercent', 'dataDesc'],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>