<template>
  <div>
    <input
      type="text"
      class="knob"
      :value="dataValue"
      :data-width="(dataWidth) ? dataWidth : 60"
      :data-height="(dataHeight) ? dataHeight : 60"
      :data-fgColor="(dataColor) ? dataColor : '#39CCCC'"
    />
    <div class="knob-label">{{dataText}}</div>
  </div>
</template>
<script>
export default {
  props: ["dataValue", "dataWidth", "dataHeight", "dataColor", "dataText"],
  mounted() {
    $(".knob").knob();
  }
};
</script>
