<template>
  <div>
    <transition>
      <div class="modal-mask" v-if="show" >
        <div class="modal-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="modal-header">
                  <div class="pull-right">
                    <span class="close-modal" @click="$emit('close')"><i class="fa fa-close"></i></span>
                  </div>
                </div>
                <slot></slot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
	props: ['show'],
	data() {
		return {}
	},
	mounted() {
    $('.knob').knob();
	},
	methods: {}
}
</script>
<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper{
  display: table-cell;
  vertical-align: middle;
}
.container {
  z-index: 9999;
  background: #fff;
  overflow-y: auto;
  height: 80vh;
}
.close-modal {
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #333;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
</style>
