<template>
  <div class="progress-group">
    <span class="progress-text">{{ dataText }}</span>
    <span class="progress-number">
      <b>{{ dataNum }}</b>
      /{{ dataNums }}
    </span>
    <div class="progress sm">
      <div
        :class="(dataColor) ? 'progress-bar '+dataColor:'progress-bar progress-bar-green'"
        :style="{width: dataPercent+'%'}"
      ></div>
    </div>
  </div>
</template>
<script>
export default {
  // pText : Judul
  // pNum : jumlah dari pNums (total)
  // pColor : warna progress
  // pPercent : persentase progress
  props: ["dataText", "dataNum", "dataNums", "dataColor", "dataPercent"],
  data() {
    return {};
  },
  mounted() {},
  methods: {}
};
</script>