<template>
	<div :class="'small-box '+dataColor">
		<div class="inner">
			<h3>{{dataNumber}}</h3>
			<p>{{dataText}}</p>
		</div>
		<div class="icon">
			<i :class="dataIcon"></i>
		</div>
		<a href="#" class="small-box-footer">
			More info <i class="fa fa-arrow-circle-right"></i>
		</a>
	</div>
</template>
<script>
export default {
	props: ['dataIcon', 'dataText', 'dataNumber', 'dataColor'],
	data() {
		return {}
	},
	mounted() {
	},
	methods: {}
}
</script>