<template>
  <div class="loading-animate">
    <div :class="(this.$store.state.loading) ? 'loading-bg':'hide-loading'">
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>