<template>
  <div class="template-table-patket-satker">
    <v-client-table :data="dataRows.table.rows" :columns="columns" :options="options">
      <div slot="pkt_nama" slot-scope="props" class="td_pkt_nama">
        <div class="status-paket">
          <span class="label label-primary">{{props.row.lls_id}}</span>
          <span
            :class="(props.row.tahap === 'SUDAH_SELESAI') ? 'label label-success' : 'label label-info'"
          >{{(props.row.tahap === 'SUDAH_SELESAI') ? "Paket Selesai" : "Sedang Berjalan" }}</span>
          <router-link to="/ulang">
            <span
              v-if="(props.row.lls_versi_lelang > 1 && props.row.kgr_id == 1)"
              class="label label-danger"
            >Seleksi Ulang</span>
            <span
              v-if="(props.row.lls_versi_lelang > 1 && props.row.kgr_id != 1)"
              class="label label-danger"
            >Tender Ulang</span>
          </router-link>
        </div>
        <div>{{props.row.pkt_nama}}</div>
        <div>
          <strong>{{props.row.instansi}}</strong>
        </div>
        <div>{{props.row.ang_tahun}}</div>
      </div>
      <div slot="rkn_nama" slot-scope="props" class="td_pkt_pemena">
        <div class="pemenang-rekanan" v-if="props.row.rekanan">{{props.row.rekanan.rkn_nama}}</div>
        <div class="pemenang-rekanan" v-else>Tidak ada pemenang</div>
        <hr />
        <span class="text-blue">{{props.row.jumlah_peserta}} Peserta</span>
      </div>
      <div slot="child_row" slot-scope="props">
        <div class="col-md-3">
          <div class="description-block border-right">
            <div class="efesiensi-pak text-blue">
              <i class="fa fa-money"></i>
            </div>
            <h5 class="description-header">Rp. {{formatPrice(props.row.pkt_pagu)}}</h5>
            <span class="description-text">Pagu</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="description-block border-right">
            <div class="efesiensi-pak text-blue">
              <i class="fa fa-money"></i>
            </div>
            <h5 class="description-header">Rp. {{formatPrice(props.row.pkt_hps)}}</h5>
            <span class="description-text">HPS</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="description-block border-right">
            <div class="efesiensi-pak text-green">
              <i class="fa fa-free-code-camp"></i>
            </div>
            <h5
              class="description-header"
            >{{(props.row.pemenang_harga) ? "Rp. "+formatPrice(props.row.pemenang_harga) : " - "}}</h5>
            <span class="description-text">Harga Penawaran</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="description-block">
            <div
              class="efesiensi-pak text-aqua"
              v-if="props.row.pemenang_harga"
            >{{ parseFloat(100-(props.row.pemenang_harga/props.row.pkt_pagu*100)).toFixed(2) }}%</div>
            <h5
              class="description-header"
            >{{(props.row.pemenang_harga) ? "+ Rp. "+formatPrice(props.row.pkt_pagu-props.row.pemenang_harga) : " - "}}</h5>
            <span class="description-text">Selisih</span>
          </div>
        </div>
      </div>
    </v-client-table>
  </div>
</template>
<script>
export default {
  props: ["dataRows"],
  data() {
    return {
      columns: ["pkt_nama", "rkn_nama"],
      options: {
        uniqueKey: "pkt_id",
        headings: {
          pkt_nama: "Paket",
          rkn_nama: "Pemenang"
        },
        sortIcon: {
          base: "fa",
          down: "fa-sort-amount-desc",
          up: "fa-sort-amount-asc",
          is: "fa-sort"
        },
        sortable: ["pkt_nama", "rkn_nama"],
        filterable: ["lls_id", "pkt_nama", "rkn_nama"]
      }
    };
  },
  mounted() {},
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(2).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
  }
};
</script>
<style>
.td_pkt_nama .status-paket span.label {
  display: inline-block;
  margin-right: 2px;
}
/* .satker-pilih-table .description-block .description-header{
    padding: 4px;
    background: #F44336;
    color: #fff;
} */
.td_pkt_nama,
.pemenang-rekanan {
  text-transform: uppercase;
}
.td_pkt_nama .pemenang-harga {
  font-size: 16px;
  font-weight: bold;
}
.VueTables__table tbody tr td:nth-child(0) {
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
</style>
