<template>
  <div class="template-table-vue-table">
    <v-client-table :data="data" :columns="columns" :options="options">
      <slot></slot>
    </v-client-table>
  </div>
</template>
<script>
export default {
  props: ["data", "columns", "options"],
  data() {
    return {};
  }
};
</script>
<style>
.VueTables__table tbody tr td:nth-child(0) {
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
</style>
