<template>
  <div class="template-table-vue-table">
    <v-server-table
      :url="`${this.$store.state.api_url}/stats/rekanan/${this.$store.state.tahun}`"
      :columns="columns"
      :options="options"
    >
      <div slot="child_row" slot-scope="props">
        <div class="col-md-12">
          <div class="rkn_npwp">{{props.row.rkn_npwp}}</div>
          <div class="rkn_alamat">{{props.row.rkn_alamat}}</div>
          <div class="rkn_kabupaten">{{props.row.kbp_nama}}</div>
          <div class="rkn_provinsi">{{props.row.prp_nama}}</div>
        </div>
      </div>
      <div slot="rkn_nama" slot-scope="props">
        <div class="rkn_alamat">{{props.row.rkn_nama}}</div>
      </div>
      <div slot="jml_ikut" slot-scope="props">
        <span class="text-blue">{{props.row.jml_ikut}}</span>
      </div>
      <div slot="jml_menang" slot-scope="props">
        <span class="text-blue">{{props.row.jml_menang}}</span>
      </div>
    </v-server-table>
  </div>
</template>
<script>
export default {
  props: [],
  data() {
    return {
      columns: ["rkn_nama", "jml_ikut", "jml_menang"],
      options: {
        uniqueKey: "rkn_id",
        headings: {
          rkn_nama: "Rekanan",
          jml_ikut: "Ikut Lelang",
          jml_menang: "Pemenang"
        },
        perPage: 10,
        perPageValues: [10],
        sortIcon: {
          base: "fa",
          down: "fa-sort-amount-desc",
          up: "fa-sort-amount-asc",
          is: "fa-sort"
        },
        sortable: ["rkn_nama"],
        filterable: ["rkn_nama"],
        responseAdapter: function(res) {
          return {
            data: res.data.rekanan,
            count: res.data.total_penyedia
          };
        }
      }
    };
  }
};
</script>
<style>
.VueTables__table tbody tr td:nth-child(0) {
  vertical-align: middle;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "-";
}
.template-table-vue-table table tbody td:nth-child(2) {
  text-transform: uppercase;
}
</style>